<div class="container mt-4">
    <div class="row">
        <div class="col-lg-9 mb-4">
            <div class="card">
                <div class="card-body">

                    <ul id="results" style="list-style-type:none; margin:0; padding:0; border:1px solid #ccc; max-height:200px; overflow-y:auto; position:relative; width:100%; display:none; background-color:white;">
                    </ul>

                    <h3 class="card-subtitle mb-3">Room più recenti</h3>
                    <ul class="list-group">
                        <% @rooms.sort_by(&:nome).each do |room| %>
                            <li class="list-group-item">
                            <a href="<%= room_logged_path(room) %>" class="text-decoration-none">
                                <h5 class="mb-1"><%= room.nome %></h5>
                                <div class="tags">
                                <% @tag_rooms.each do |tag_room| %>
                                    <% if room.id.to_s == tag_room.room.to_s %>
                                    <% @tags.each do |tag| %>
                                        <% if tag.id.to_s == tag_room.tag.to_s %>
                                        <span class="badge bg-secondary">#<%= tag.nome %></span>
                                        <% end %>
                                    <% end %>
                                    <% end %>
                                <% end %>
                                </div>
                            </a>
                            </li>
                        <% end %>
                    </ul>

                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card">
                <div class="card-body" style="display: flex; justify-content: center;">
                    <% if @user.propic.attached? %>
                        <%= image_tag @user.propic, class: "propic", style: "width: 150px; height: 150px; border-radius: 50%;" %>
                    <% else %>
                        <%= image_tag "default_profile.png", class: "propic", style: "width: 150px; height: 150px; border-radius: 50%;" %>
                    <% end %> 
                </div>  

                <div class="card-body">
                    <h5 class="mb-1" style="font-size: 25px;"><%= @user.nome %> <%= @user.cognome %></h5>
                    <p class="info-user">
                        <%= link_to "#{@user.nome_utente}", info_user_path %>
                    </p>

                    <%= form_with url: login_path, method: :delete do |form| %>
                        <%= form.submit "Logout", class: "btn btn-danger" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>