<div class="container mt-4">
    <div class="row">

        <% if flash[:notice] %>
            <div class="alert alert-info mt-4" role="alert">
                <%= flash[:notice] %>
            </div>
        <% end %>
        <% if flash[:alert]%>
            <div class="alert alert-warning mt-4" role="alert">
                <%= flash[:alert] %>
            </div>
        <% end %> 

        <div class="col-lg-9 mb-4">
            <div class="card">
                <div class="card-body">
                <h2 class="card-title">Creazione Room</h2>
                <%= form_with model: @user, url: create_room_path, method: :post, local: true, multipart: true do |form| %>
        
                    <div class="row mb-3">
                        <div class="col-md-9">
                            <%= form.label :nome_room, "Nome della room", class: "form-label" %>  
                            <%= form.text_field :nome_room, class: "form-control", required: true, pattern: "[A-Za-zÀ-ÖØ-öø-ÿ\s]+", title: "Il nome può contenere solo lettere e spazi" %>
                        </div>
                    </div>
                    
                    
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <%= form.label :tag1, "Tag 1", class: "form-label" %>
                            <%= form.select :tag1, options_for_select(Tag.all.map { |tag| [tag.nome, tag.id] }), {prompt: "--Nessuna selezione--"}, {class: "form-control tag-select", id: "tag1", required: true} %>
                        </div>

                        <div class="col-md-4" id="select-tag2" style="display:none;">
                            <%= form.label :tag2, "Tag 2", class: "form-label" %>
                            <%= form.select :tag2, options_for_select(Tag.all.map { |tag| [tag.nome, tag.id] }), {prompt: "--Nessuna selezione--"}, {class: "form-control tag-select", id: "tag2", required: true} %>
                        </div>

                        <div class="col-md-4" id="select-tag3" style="display:none;">
                            <%= form.label :tag3, "Tag 3", class: "form-label" %>
                            <%= form.select :tag3, options_for_select(Tag.all.map { |tag| [tag.nome, tag.id] }), {prompt: "--Nessuna selezione--"}, {class: "form-control tag-select", id: "tag3", required: true} %>
                        </div>
                    </div>
        
                    <div class="col-md-12">
                        <%= form.label :description, "Descrizione", class: "form-label" %>  
                        <%= form.text_area :description, class: "form-control", rows: 5 %>
                    </div>
                
                    <div class="separator"></div>
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <%= form.submit "Avanti", class: "btn btn-dark w-100" %>
                        </div>
                    </div>
                <% end %>        
            </div>
            </div>
        </div> 

        <div class="col-lg-3">
            <div class="card">
                <div class="card-body" style="display: flex; justify-content: center;">
                    <div class="propic"></div>
                </div>

                <div class="card-body">
                    <h5 class="mb-1" style="font-size: 25px;">Riccardo Mantegazza</h5>
                    <p class="info-user">riccardo_mantegazza</p>
                    
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
    const selects = document.querySelectorAll('.tag-select');
    const selectTag1 = document.getElementById('tag1');
    const selectTag2Div = document.getElementById('select-tag2');
    const selectTag2 = document.getElementById('tag2');
    const selectTag3Div = document.getElementById('select-tag3');

  // Funzione per mostrare il campo successivo quando viene selezionato un valore
  function showNextSelect(currentSelect, nextSelectDiv) {
    if (currentSelect.value) {
      nextSelectDiv.style.display = 'block';  // Mostra il campo successivo
    } else {
      nextSelectDiv.style.display = 'none';   // Nascondi il campo successivo se la selezione è vuota
    }
  }

  // Aggiungi l'event listener per il primo select
  selectTag1.addEventListener('change', function() {
    showNextSelect(selectTag1, selectTag2Div);
  });

  // Aggiungi l'event listener per il secondo select
  selectTag2.addEventListener('change', function() {
    showNextSelect(selectTag2, selectTag3Div);
  });

    function updateTagOptions() {
        const selectedTags = Array.from(selects)
        .map(select => select.value)
        .filter(value => value !== "");

        selects.forEach(select => {
        const currentValue = select.value;
        const options = select.querySelectorAll('option');
        
        options.forEach(option => {
            // Mostra tutti i tag se non è selezionato in nessun altro campo
            if (selectedTags.includes(option.value) && option.value !== currentValue) {
            option.disabled = true;
            } else {
            option.disabled = false;
            }
        });
        });
    }

    selects.forEach(select => {
        select.addEventListener('change', updateTagOptions);
    });

    // Aggiorna inizialmente le opzioni nel caso di selezioni già presenti
    updateTagOptions();
    });
</script>