<h2>Form di registrazione</h2>

<div class="card">
    <div class="card-body">
        <%= form_with model: @user, url: final_registration_path(@user), method: :patch, local: true, multipart: true do |form| %>
            <div class="row mb-3">
                <div class="col-md-6">
                <%= form.label :nome_utente, "Username", class: "form-label" %>
                <%= form.text_field :nome_utente, class: "form-control", required: true %>
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="col-md-6">
                <%= form.label :password, "Password", class: "form-label" %>
                <%= form.password_field :password, class: "form-control", required: true %>
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="col-md-6">
                <%= form.label :propic, "Foto profilo", class: "form-label" %>
                <%= form.file_field :propic, class: "form-control", required: true %>
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="col-md-12">
                <%= form.label :bio, "Bio", class: "form-label" %>
                <%= form.text_area :bio, class: "form-control", rows: 5 %>
                </div>
            </div>
            
            <div class="separator"></div>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                <%= form.submit "Avanti", class: "btn btn-dark w-100" %>
                </div>
            </div>
        <% end %>
    </div>
</div>
