<div class="container mt-4">
    <div class="row">

        <% if flash[:notice] %>
            <div class="alert alert-info mt-4" role="alert">
                <%= flash[:notice] %>
            </div>
        <% end %>
        <% if flash[:alert]%>
            <div class="alert alert-warning mt-4" role="alert">
                <%= flash[:alert] %>
            </div>
        <% end %>

        <div class="col-lg-9 mb-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-subtitle mb-3">Loggato - Room Recenti</h3>
                    <ul class="list-group"> 
                        <% @rooms.each do |room| %> 
                            <li class="list-group-item">
                            <a href="<%= room_logged_path(room) %>" class="text-decoration-none">
                                <h5 class="mb-1"><%= room.nome %></h5>
                                <div class="tags">
                                    <% @tag_rooms.each do |tag_room| %>
                                        <% if room.id.to_s == tag_room.room.to_s %>
                                        <% @tags.each do |tag| %>
                                            <% if tag.id.to_s == tag_room.tag.to_s%>
                                            <span class="badge bg-secondary">#<%= tag.nome %></span>
                                            <% end %>
                                        <% end %>
                                        <% end %>
                                    <% end %>
                                </div>
                            </a>
                            </li>
                        <% end %>
                    </ul>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="/all_rooms_logged">RICERCA ROOM</a>
                        </h5>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <% if @user.ruolo == 'd' %>
                            <%= link_to 'CREA UNA ROOM', create_room_path, class: 'btn btn-primary btn-lg', style: 'margin-top: 25px;' %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card">
                <div class="card-body" style="display: flex; justify-content: center;">
                    <% if @user.propic.attached? %>
                        <%= image_tag @user.propic, class: "propic", style: "width: 150px; height: 150px; border-radius: 50%;" %>
                    <% else %>
                        <%= image_tag "default_profile.png", class: "propic", style: "width: 150px; height: 150px; border-radius: 50%;" %>
                    <% end %> 
                </div>  

                <div class="card-body">
                    <h5 class="mb-1" style="font-size: 25px;"><%= @user.nome %> <%= @user.cognome %></h5>
                    <p class="info-user">
                        <%= link_to "#{@user.nome_utente}", info_user_path %>
                    </p>

                    <%= form_with url: login_path, method: :delete do |form| %>
                        <%= form.submit "Logout", class: "btn btn-danger" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
