<div class="container mt-4">

    <div class="row">

        <% if flash[:notice] %>
            <div class="alert alert-info mt-4" role="alert">
                <%= flash[:notice] %>
            </div>
        <% end %>
        <% if flash[:alert]%>
            <div class="alert alert-warning mt-4" role="alert">
                <%= flash[:alert] %>
            </div>
        <% end %> 

        <div class="col-lg-9 mb-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Ricerca Room</h2>
                    <form class="d-flex mb-3" action="ricerca_room.php" method="get">
                        <input type="text" class="form-control me-2" placeholder="Inserisci nome della room..." name="query" required>
                        <button type="submit" class="btn btn-dark">Cerca</button>
                    </form>
                    <h3 class="card-subtitle mb-3">Room Recenti</h3>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="/room_logged" class="text-decoration-none">
                                <h5 class="mb-1">Room BARARE ROOM LOGGED</h5>
                                <div class="tags">
                                    <span class="tag">#tag1</span>
                                    <span class="tag">#tag2</span>
                                    <span class="tag">#tag3</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="text-decoration-none">
                                <h5 class="mb-1">Room 2</h5>
                                <div class="tags">
                                    <span class="tag">#education</span>
                                    <span class="tag">#study</span>
                                    <span class="tag">#learning</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="text-decoration-none">
                                <h5 class="mb-1">Room 3</h5>
                                <div class="tags">
                                    <span class="tag">#music</span>
                                    <span class="tag">#art</span>
                                    <span class="tag">#creativity</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <% if @user.ruolo == 'd' %>
                        <a href="/create_room" class="text-decoration-none">
                            <h5 class="mb-1" style="margin-top: 25px; padding-left: 16px;">CREA UNA ROOM</h5>
                        </a>
                    <% end %>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card">
                <div class="card-body" style="display: flex; justify-content: center;">
                    <% if @user.propic.attached? %>
                        <%= image_tag @user.propic, class: "propic", style: "width: 150px; height: 150px; border-radius: 50%;" %>
                    <% else %>
                        <%= image_tag "default_profile.png", class: "propic", style: "width: 150px; height: 150px; border-radius: 50%;" %>
                    <% end %>
                </div>  

                <div class="card-body">
                    <h5 class="mb-1" style="font-size: 25px;"><%= @user.nome %> <%= @user.cognome %></h5>
                    <p class="info-user">
                        <%= link_to "#{@user.nome_utente}", info_user_path %>
                    </p>

                    <%= form_with url: login_path, method: :delete do |form| %>
                        <%= form.submit "Logout", class: "btn btn-danger" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
