<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card-body" style="display: flex; justify-content: center;">
            <%= image_tag current_user.propic, class: "propic", style: "border-radius: 50%;" %>

        </div>
    </div>
  
        <div class="col-md-8">
            <div class="card"> 
                <div class="card-body" style="display: flex; justify-content: center;">
                    <h4 class="mb-1" style="font-size: 40px;"><%= current_user.nome_utente %></h4>
                </div>
        
                <div class="card-body" style="display: flex; padding:0; margin-left: 16px">
                    <div class="user-info" style="color: #00FFFF;">Nome:&nbsp;</div>
                    <div class="user-info"><%= "#{current_user.nome} #{current_user.cognome}" %></div>
                </div>
                <div class="card-body" style="display: flex; padding:0; margin-left: 16px">
                    <div class="user-info" style="color: #00FFFF;">Ruolo:&nbsp;</div>
                    <% if current_user.ruolo == "s" %>
                        <div class="user-info">Studente</div>
                    <% end %>
                    <% if current_user.ruolo == "d" %>
                        <div class="user-info">Docente</div>
                    <% end %>
                </div>
                <div class="card-body" style="display: flex; padding:0; margin-left: 16px">
                    <div class="user-info" style="color: #00FFFF;">Mail:&nbsp;</div>
                    <div class="user-info"><%= current_user.mail %></div>
                </div>
                <% if current_user.ruolo == "s" %>
                    <div class="card-body" style="display: flex; padding:0; margin-left: 16px">
                        <div class="user-info" style="color: #00FFFF;">Studente modello:&nbsp;</div>
                        <div class="user-info">room varie</div>
                    </div>
                    <div class="card-body" style="display: flex; padding:0; margin-left: 16px">
                        <div class="user-info" style="color: #00FFFF;">Primo della classe:&nbsp;</div>
                        <div class="user-info">room varie</div>
                    </div>
                <% end %>

                <% if current_user.ruolo == "d" %>
                    <div class="card-body" style="display: flex; padding:0; margin-left: 16px">
                        <div class="user-info" style="color: #00FFFF;">Tag associati:&nbsp;</div>
                        <div class="user-info">
                            <div class="tags">
                                <% @tag_docenti.each do |tag_docente| %>
                                    <% nome_tag = Tag.find_by(id: tag_docente.tag) %>
                                    <% if nome_tag && @user.nome_utente == tag_docente.docente %>
                                        #<span style="margin-right: 10px;"><%= nome_tag.nome %></span>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                    </div>
              
              
                    <div class="card-body" style="display: flex; padding:0; margin-left: 16px">
                        <div class="user-info" style="color: #00FFFF;">Room create:&nbsp;</div>
                        <div class="user-info">
                            <% @rooms.select { |room| room.creatore == @user.nome_utente }.each do |room| %>
                                <div class="info-user" style="font-size: 25px">
                                    <%= link_to room.nome, room_logged_path(room) %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                <% end %>

                <div class="card-body">
                    <div class="user-info-title">Informazioni aggiuntive</div>
                    <% if @user.bio %>
                        <div class="user-info"><%= @user.bio %></div>
                    <% else %>
                        <div class="user-info">Nessuna informazione aggiuntiva</div>
                    <% end %>
                </div>
                <div class="card-body">
                    <%= form_with url: login_path, method: :delete do |form| %>
                        <%= form.submit "Logout", class: "btn btn-danger" %>
                    <% end %>

                    <br>
                    <%= link_to "Back", :back %>
                </div>
            </div>
        </div>
    </div>
</div> 