<div class="container mt-4">
    <div class="row">

    <div class="col-lg-9 mb-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"><%= @room.nome %></h3>
                <div class="tags" style="margin-top: 20px;">
                    <% @tag_rooms.each do |tag_room| %>
                        <% if @room.id.to_s == tag_room.room.to_s %>
                            <% @tags.each do |tag| %>
                                <% if tag.id.to_s == tag_room.tag.to_s%>
                                    <span class="badge bg-secondary">#<%= tag.nome %></span>
                                <% end %>
                            <% end %>
                        <% end %>
                    <% end %>
                </div>
            </div>
            <div class="card-body" style="display: flex">
                <div class="user-info" style="color: #00FFFF; font-size: 20px;">Creatore:&nbsp;</div>
                <div class="user-info" style="font-size: 20px;">
                    <% if @room.creatore == current_user.nome_utente %>
                        <%= link_to "#{current_user.nome_utente}", info_user_path %>
                    <% else %>
                        <%= link_to "#{@room.creatore}", other_user_info_path(nome_utente: @room.creatore) %>
                    <% end %>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <%= link_to 'AGGIUNGI MATERIALE', add_material_path, class: 'btn btn-primary btn-lg', style: 'margin-top: 25px;' %>
                </div>
            </div>
            <ul class="list-group">
                <div class ="card-body">
                    <div class ="card-body" style="display: flex; padding:0;">
                        <div class="user-info" style="color: #00FFFF; font-size: 20px; font-weight: bold;">Materiale 1&nbsp</div>
                        <div class="user-info" style="font-size: 20px;">- francidp_7</div>
                    </div>
                    <div class="user-info" style="font-size: 20px;">SCARICA ALLEGATO</div>
                </div>
                <div class ="card-body">
                    <div class ="card-body" style="display: flex; padding:0;">
                        <div class="user-info" style="color: #00FFFF; font-size: 20px; font-weight: bold;">Materiale 2&nbsp</div>
                        <div class="user-info" style="font-size: 20px;">- mariorossi_</div>
                    </div>
                    <div class="user-info" style="font-size: 20px;">SCARICA ALLEGATO</div>
                </div> 
                <div class ="card-body">
                    <div class ="card-body" style="display: flex; padding:0;">
                        <div class="user-info" style="color: #00FFFF; font-size: 20px; font-weight: bold;">Materiale 3&nbsp</div>
                        <div class="user-info" style="font-size: 20px;">- flavi_depino5</div>
                    </div>
                </div>
                <div class ="card-body">
                    <div class ="card-body" style="display: flex; padding:0;">
                        <div class="user-info" style="color: #00FFFF; font-size: 20px; font-weight: bold;">Materiale 4&nbsp</div>
                        <div class="user-info" style="font-size: 20px;">- pietrozinni_32</div>
                    </div>
                    <div class="user-info" style="font-size: 20px;">SCARICA ALLEGATO</div>
                </div>
            </ul>
        </div>
    </div>

        <div class="col-lg-3">
            <div class="card">
                <div class="card-body" style="display: flex; justify-content: center;">
                    <% if current_user.propic.attached? %>
                        <%= image_tag current_user.propic, class: "propic", style: "width: 150px; height: 150px; border-radius: 50%;" %>
                    <% else %>
                        <%= image_tag "default_profile.png", class: "propic", style: "width: 150px; height: 150px; border-radius: 50%;" %>
                    <% end %>
                </div>  

                <div class="card-body">
                    <h5 class="mb-1" style="font-size: 25px;"><%= current_user.nome %> <%= current_user.cognome %></h5>
                    <p class="info-user">
                        <%= link_to "#{current_user.nome_utente}", info_user_path %>
                    </p>

                    <%= form_with url: login_path, method: :delete do |form| %>
                        <%= form.submit "Logout", class: "btn btn-danger" %>
                    <% end %>
                </div>
            </div>
        </div>

    </div>
</div>