<div class="container mt-4">
    <div class="row">

        <div class="col-lg-9 mb-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title"><%= @room.nome %></h3>
                    <div class="tags" style="margin-top: 20px;">
                        <% @tag_rooms.each do |tag_room| %>
                            <% if @room.id.to_s == tag_room.room.to_s %>
                                <% @tags.each do |tag| %>
                                    <% if tag.id.to_s == tag_room.tag.to_s%>
                                        <span class="badge bg-secondary">#<%= tag.nome %></span>
                                    <% end %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
                <div class="card-body" style="display: flex">
                    <div class="user-info" style="color: #00FFFF; font-size: 20px;">Creatore:&nbsp;</div>
                    <div class="user-info" style="font-size: 20px;"><%= @room.creatore %></div>
                </div>
                <ul class="list-group">
                    <div class ="card-body">
                        <div class ="card-body" style="display: flex; padding:0;">
                            <div class="user-info" style="color: #00FFFF; font-size: 20px; font-weight: bold;">Materiale 1&nbsp</div>
                            <div class="user-info" style="font-size: 20px;">- francidp_7</div>
                        </div>
                        <div class="user-info" style="font-size: 20px;">SCARICA ALLEGATO</div>
                    </div>
                    <div class ="card-body">
                        <div class ="card-body" style="display: flex; padding:0;">
                            <div class="user-info" style="color: #00FFFF; font-size: 20px; font-weight: bold;">Materiale 2&nbsp</div>
                            <div class="user-info" style="font-size: 20px;">- mariorossi_</div>
                        </div>
                        <div class="user-info" style="font-size: 20px;">SCARICA ALLEGATO</div>
                    </div>
                    <div class ="card-body">
                        <div class ="card-body" style="display: flex; padding:0;">
                            <div class="user-info" style="color: #00FFFF; font-size: 20px; font-weight: bold;">Materiale 3&nbsp</div>
                            <div class="user-info" style="font-size: 20px;">- flavi_depino5</div>
                        </div>
                    </div>
                    <div class ="card-body">
                        <div class ="card-body" style="display: flex; padding:0;">
                            <div class="user-info" style="color: #00FFFF; font-size: 20px; font-weight: bold;">Materiale 4&nbsp</div>
                            <div class="user-info" style="font-size: 20px;">- pietrozinni_32</div>
                        </div>
                        <div class="user-info" style="font-size: 20px;">SCARICA ALLEGATO</div>
                    </div>
                </ul>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-center">
                        <h2 class="card-title">Login</h2>
                    </div>
                    <form action="<%= login_path %>" method="post">
                        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-dark w-100">Accedi</button>
                    </form>
                    <div class="text-center my-3">oppure</div>
                    <div class="d-grid mb-3">
                        <button class="btn btn-outline-dark w-100">
                            <img src="https://www.gstatic.com/images/branding/product/1x/gsa_48dp.png" alt="Google logo" style="width: 20px; height: 20px; margin-right: 10px;">
                                Accedi con Google
                        </button>
                    </div>
                    <div class="registrazione-link-wrapper d-flex align-items-center justify-content-center">
                        <a href="/registration" class="registrazione-link">Non sei iscritto?<br>Registrati!</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
