<div class="container mt-4">
    <div class="row">

    <% if flash[:notice] %>
        <div class="alert alert-info mt-4" role="alert">
            <%= flash[:notice] %>
        </div>
    <% end %>
    <% if flash[:alert]%>
        <div class="alert alert-warning mt-4" role="alert">
            <%= flash[:alert] %>
        </div>
    <% end %>

    <div class="col-lg-9 mb-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"><%= @room.nome %></h3>

                <div class="tags" style="margin-top: 20px;">
                    <% @tag_rooms.each do |tag_room| %>
                        <% if @room.id.to_s == tag_room.room.to_s %>
                            <% @tags.each do |tag| %>
                                <% if tag.id.to_s == tag_room.tag.to_s%>
                                    <span class="badge bg-secondary">#<%= tag.nome %></span>
                                <% end %>
                            <% end %>
                        <% end %>
                    <% end %>
                </div>
            </div>
            <div class="card-body" style="display: flex">
                <div class="user-info" style="color: #00FFFF; font-size: 20px;">Creatore:&nbsp;</div>
                <div class="info-user" style="font-size: 20px;">
                    <% if @room.creatore == current_user.nome_utente %>
                        <%= link_to "#{current_user.nome_utente}", info_user_path %>
                    <% else %>
                        <%= link_to "#{@room.creatore}", other_user_info_path(nome_utente: @room.creatore) %>
                    <% end %>
                </div>
                <% if @room.post_utenti == 1 %>
                    <% if @room.creatore == current_user.nome_utente %>
                        <div class="d-flex align-items-center justify-content-center">
                            <%= link_to 'AGGIUNGI MATERIALE', add_material_path, class: 'btn btn-primary btn-lg', style: 'margin-top: 25px;' %>
                        </div>
                    <% end %>
                <% else %>
                    <div class="d-flex align-items-center justify-content-center">
                        <%= link_to 'AGGIUNGI MATERIALE', add_material_path, class: 'btn btn-primary btn-lg', style: 'margin-top: 25px;' %>
                    </div>
                <% end %>
            </div>
            <ul class="list-group">
                <% @materials.each do |materiale| %>
                    <div class="card-body">
                        <div class="card-body" style="display: flex; padding:0;">
                            <div class="user-info" style="color: #00FFFF; font-size: 20px; font-weight: bold;">
                                <%= materiale.titolo %>&nbsp
                            </div>
                            <div class="info-user" style="font-size: 20px;">-  
                                <%= link_to "#{materiale.proprietario}", other_user_info_path(nome_utente: materiale.proprietario) %>
                            </div>
                        </div>             
                        <div class="user-info" style="font-size: 20px;">
                            <%= materiale.descrizione %>
                        </div>
                        <div style="display: flex; align-items: center; justify-content: space-between; padding-top: 10px;">
                            <% if materiale.allegato.present? %>
                                <% if materiale.prezzo > 0 %>
                                    <div class="user-info" style="font-size: 20px;">
                                        <%= link_to 'Scarica allegato', payment_path(materiale_id: materiale.id) %>
                                    </div>
                                <% else %>
                                    <div class="user-info" style="font-size: 20px;">
                                        <%= link_to 'Scarica allegato', materiale.allegato, target: "_blank", download: true %>
                                    </div>
                                <% end %>
                            <% else %>
                                <div class="user-info" style="font-size: 20px; color: red;">
                                    Nessun allegato disponibile
                                </div>
                            <% end %>
                            <div class="user-info" id="comment-toggle-<%= materiale.id %>" style="font-size: 20px; cursor: pointer; margin-left: auto;">Commenti</div>
                        </div>
                        <ul class="card-body" id="comments-section-<%= materiale.id %>" style="display: none;">
                            <div class="info-user" style="font-size: 20px;"><%= link_to 'COMMENTA', add_commenti_path(materiale.id) %></div>
                            <% @commenti.each do |commento| %>
                                <% if commento.materiale == materiale.titolo %>
                                    <div class="card-body">
                                        <div class="user-info" style="font-size: 20px;">
                                            <%= link_to commento.commentatore, other_user_info_path(nome_utente: commento.commentatore) %> - 
                                            <span class="user-info" style="font-size: 20px; margin-top: 5px;"><%= commento.testo %></span>
                                        </div>
                                    </div>
                                <% end %>
                            <% end %>
                        </ul>
                    </div>
                <% end %>              
            </ul>
        </div>
    </div> 

        <div class="col-lg-3">
            <div class="card">
                <div class="card-body" style="display: flex; justify-content: center;">
                    <% if current_user.propic.attached? %>
                        <%= image_tag current_user.propic, class: "propic", style: "width: 150px; height: 150px; border-radius: 50%;" %>
                    <% else %>
                        <%= image_tag "default_profile.png", class: "propic", style: "width: 150px; height: 150px; border-radius: 50%;" %>
                    <% end %>
                </div>  

                <div class="card-body">
                    <h5 class="mb-1" style="font-size: 25px;"><%= current_user.nome %> <%= current_user.cognome %></h5>
                    <p class="info-user">
                        <%= link_to "#{current_user.nome_utente}", info_user_path %>
                    </p>

                    <%= form_with url: login_path, method: :delete do |form| %>
                        <%= form.submit "Logout", class: "btn btn-danger" %>
                    <% end %>

                    <br>
                    <%= link_to "Back", :back %>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    document.querySelectorAll("[id^='comment-toggle-']").forEach(function(button) {
        button.addEventListener("click", function() {
            var id = this.id.split('-').pop();
            var commentSection = document.getElementById("comments-section-" + id);
            commentSection.style.display = commentSection.style.display === "none" ? "block" : "none";
        });
    });
</script>