
<div class="container mt-4">
    <div class="row">

        <div class="col-lg-9 mb-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title"><%= @room.nome %></h3>
                    <div class="tags" style="margin-top: 20px;">
                        <% @tag_rooms.each do |tag_room| %>
                            <% if @room.id.to_s == tag_room.room.to_s %>
                                <% @tags.each do |tag| %>
                                    <% if tag.id.to_s == tag_room.tag.to_s%>
                                        <span class="badge bg-secondary">#<%= tag.nome %></span>
                                    <% end %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
                <div class="card-body" style="display: flex">
                    <div class="user-info" style="color: #00FFFF; font-size: 20px;">Creatore:&nbsp;</div>
                    <div class="info-user" style="font-size: 20px;">
                        <%= link_to "#{@room.creatore}", other_user_info_path(nome_utente: @room.creatore) %>
                    </div>
                </div>
                <ul class="list-group">
                    <% @materials.each do |materiale| %>
                        <div class="card-body">
                            <div class="card-body" style="display: flex; padding:0;">
                                <div class="user-info" style="color: #00FFFF; font-size: 20px; font-weight: bold;">
                                    <%= materiale.titolo %>&nbsp
                                </div>

                                <div class="info-user" style="font-size: 20px;">- 
                                <%= link_to "#{materiale.proprietario}", other_user_info_path(nome_utente: materiale.proprietario) %>
                                </div>
                            </div>

                            <div class="user-info" style="font-size: 20px;">
                                <%= materiale.descrizione %>
                            </div>

                            <div class="user-info" style="font-size: 20px;">
                                
                            </div>
                            <div style="display: flex; align-items: center; justify-content: space-between; padding-top: 10px;">
                                <% if materiale.allegato.present? %>
                                    <div class="user-info" style="font-size: 20px;">
                                        <%= link_to 'SCARICA ALLEGATO', materiale.allegato, target: "_blank" %>
                                    </div>
                                <% else %>
                                    <div class="user-info" style="font-size: 20px; color: red;">
                                        Nessun allegato disponibile
                                    </div>
                                <% end %>
                                <div class="user-info" id="comment-toggle" style="font-size: 20px; cursor: pointer; margin-left: auto;">Commenti</div>
                            </div>
                            
                            <ul class="card-body" id="comments-section" style="display: none;">
                                <div class="card-body">
                                    <div class="user-info" style="font-size: 20px;">
                                        <%= link_to "marisol_69", other_user_info_path(nome_utente: "marisol_69") %> - 
                                        <span class="user-info toggle-answers" style="cursor: pointer; font-size: 20px;">Risposte</span>
                                    </div>
                                    <div class="user-info" style="font-size: 20px; margin-top: 5px;">No vabbè epico!</div>
                                </div>
                        

                                <ul class="card-body answers-section" style="display: none;">
                                    <div class="card-body">
                                        <div class="user-info" style="font-size: 20px;">
                                            <%= link_to "riccardo_mantegazza", other_user_info_path(nome_utente: "riccardo_mantegazza") %>
                                        </div>
                                        <div class="user-info" style="font-size: 20px;">Assolutamente vero</div>
                                    </div>
                                </ul>

                            
                        </div>
                    <% end %>
                </ul>
            </div>
    </div>

        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-center">
                        <h2 class="card-title">Login</h2>
                    </div>
                    <form action="<%= login_path %>" method="post">
                        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-dark w-100">Accedi</button>
                    </form>
                    <div class="text-center my-3">oppure</div>
                    <div class="d-grid mb-3">
                        <button class="btn btn-outline-dark w-100">
                            <img src="https://www.gstatic.com/images/branding/product/1x/gsa_48dp.png" alt="Google logo" style="width: 20px; height: 20px; margin-right: 10px;">
                                Accedi con Google
                        </button>
                    </div>
                    <div class="registrazione-link-wrapper d-flex align-items-center justify-content-center">
                        <a href="/registration" class="registrazione-link">Non sei iscritto?<br>Registrati!</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
 
<script>
    document.getElementById("comment-toggle").addEventListener("click", function() {
        var commentSection = document.getElementById("comments-section");
        commentSection.style.display = commentSection.style.display === "none" ? "block" : "none";
    });

    document.querySelectorAll(".toggle-answers").forEach(function(toggle) {
        toggle.addEventListener("click", function() {
            var answersSection = this.closest('.card-body').nextElementSibling;

            if (answersSection && answersSection.tagName === "UL" && answersSection.classList.contains("answers-section")) {
                answersSection.style.display = answersSection.style.display === "none" ? "block" : "none";
            }
        });
    });
</script>